<html>
    <head>
        <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
        <script src="static/commons.js"></script>
    </head>
    <body>
        THIS IS EJS PAGE => 전달된 값 <%= email %>과 <%= nameParam %>
    </body>
</html>